@import "partials/variables";
@import "../../../node_modules/bulma/bulma.sass";
@import "../../../node_modules/pikaday/scss/pikaday.scss";
@import "partials/navigation";

body {
    background-color: $body-bg;
    font-family: $font-family-sans-serif;
    background-image: url("/img/background.png");
}

#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#main-content {
    margin-top: 2em;
    flex: 1;

    & > .container {
        padding: 0px 50px 50px;
        background-color: white;
        border-radius: 5px;
    }
}

.footer {
    background-color: transparent;
}

.page-title {
    background: transparent;
    text-transform: uppercase;
    color: $purple;
}

.add-new {
    margin-bottom: 20px;
}

.delete-button {
    border: none;
    background-color: transparent;
    color: $primary;
    cursor: pointer;
    outline: 0;
    padding: 0;

    &:hover {
        color: black;
    }
}

.notification.is-info {
    background-color: $purple;
}

.is-selected .pika-button {
    background: $primary;
}

.pika-button:hover {
    background: $purple;
}

@media screen and (min-width: 769px) {
    .column.is-one-fifth, .column.is-one-fifth-tablet {
        flex: none;
        width: 20%;
    }
}
